//Media
.media{
    margin-top: 0;
    .media-body {
    	width: 10000px;
    	h5 {
    		@include titulos(12px, 400, 0, $Oswald, $black)
    	}
    	p {
    		@include titulos(18px, 700, 0, $PTSans, $darksilver)
    	}
	}
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-left, .media>.pull-left {
    padding-right: 10px;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.boxblog {
	padding: 20px 15px;
	background-color: $softsilver;
	img {
		border: 2px solid #fff;
	}
}
